page-home {
    .chart {
        width: 100%;
        height: 100%;
    }
    #chartdiv {
        width: 100%;
        height: 100%;
    }

    #options {
        position:absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    #info {
        position:absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
    }

    #loading {
        display: block;
        position: relative;
        top: 30%;
        width: 80%;
        text-align: center;
        overflow: hidden;
        left: 10%;

        img {
            width: 172px;
        }

        span {
            font-size: 25px;
        }
    }

    .full-width {
        max-width: 100%;
    }

    #dateRangeText {
        border: 0;
        color: #C47A02;
        font-weight: bold;
        background: none;
        margin-top: 15px;
        font-size: 11px; 
    }
}
