<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button icon-only menuToggle (click)="onMenuToggle()">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span class="btn btn-link" (click)="onGoHomePage()">
        <b>HART</b>ENGERGY
      </span>
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onInformation()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <page-options-menu #menu id="options" [options]="options" (reset)="onReset()" (view)="onView($event)">
  </page-options-menu>
  <page-information #info id="info">
  </page-information>
  <div class="chart">
    <amCharts *ngIf="!loading&&chart!=null" [id]="id" [options]="chart">
    </amCharts>
    <div id="loading" *ngIf="loading">
        <img src="assets/img/loading-gears-animation.gif"><br>
        <span>Chart is loading...</span>
    </div>
  </div>
</ion-content>