<div class="main" (click)="onClickMain()" [@visibilityChanged]="visibility" (@visibilityChanged.done)="onEndAnimation($event)" tappable>
  <div id="mainMenuContent">
    <div class="container">
      <div class="title"><b>Oil Market Price:</b></div>
      <div class="content">
        <ion-select class="full-width" [(ngModel)]="options.oilType" (ionChange)="onChangeOilType()">
          <ion-option *ngFor="let type of options.oilTypes;let i = index;" [value]="i">{{type.name}}</ion-option>
        </ion-select>
      </div>
    </div>
    <div class="container">
      <div class="title"><b>Forecasters:</b></div>
      <div class="content">
        <ion-list id="forecasters" no-lines>
          <ion-item *ngFor="let forecaster of options.forecasters; let i = index" class="item-compact">
            <ion-label>{{forecaster.text}}</ion-label>
            <ion-checkbox color="dark" [(ngModel)]="forecaster.checked"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div class="container">
      <div class="title"><b>Include in Index Calculations:</b></div>
      <div class="content">
        <ion-item class="item-compact" no-lines>
          <ion-label>NYMEX</ion-label>
          <ion-checkbox [(ngModel)]="options.isNYMEX"></ion-checkbox>
        </ion-item>
      </div>
    </div>
    <ion-row>
      <ion-col width-50>
        <button ion-button id="reset" (click)="onReset()">Reset</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button id="view" (click)="onView()">View</button>
      </ion-col>
    </ion-row>
  </div>
</div>
